$font-color: #333;
$font-color-gray: #757575;
$font-color-light: #bdbdbd;

$bg-color: #fafafa;
$bg-color-white: #fff;
$bg-color-active: #279fb9;
$bg-color-selected: #1e7b8f;
$filter-bg:#ededed;

$border-color: #e0e0e0;
